.demo-parent {
  display: grid;
  min-height: 50vh;
  grid-template: auto 1fr auto / auto 1fr auto;
  grid-template-columns: minmax(100px, 20%) minmax(200px, 60%) minmax(100px, 20%);
}

.demo-header {
  background: lightsteelblue;
  padding: 2rem;
  grid-column: 1 / 4;
}

.demo-left-sidebar {
  background: lightblue;
  grid-column: 1 / 2;
}

.demo-main {
  background: coral;
  grid-column: 2 / 3;
}

.demo-right-sidebar {
  background: yellow;
  grid-column: 3 / 4;
}

.demo-footer {
  background: wheat;
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 4;
}
